<h1>Welcome!</h1>
<p>This is my amazing travel site</p>

My homeland is <%= @homeland %>

<ul>
  <% @countries.each do |country| %>
    <li><%= country %></li>
  <% end %>
</ul>

<% @travel_pics.each do |pic| %>
  <%= image_tag pic, image_tag photo, class: "img-responsive" %>
  <br/>
<% end %>
